/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 5, 2021, 2:04:17 PM
    Author     : Pavithra
*/

body{
    background-color: #F4F4F4;
}
.main{
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0px 0px 20px 0px #E4E4E4;
    border-radius: 25px 25px 25px 25px;
}
.login_col_1{
    background-color: #0071FF;
    padding: 80px;
    border-radius: 25px 0px 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_col_2{
    background-color: white;
    padding: 80px;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    flex-direction: column;
}

.company_name{
    color: white;
    font-weight: 400;
}

.company_name:hover{
    color: #bebaa7;
    font-weight: 400;
    transition-duration: 500ms;
}

.tag_line{
    color: white;
    font-weight: 300;
}

.hr1{
    color: white;
}

.login_image{
    max-width: 100%;
    padding-top: 6%;
    padding-bottom: 10%;
}

.support{
    color: white;
    font-weight: 100;
    font-size: 15px;
}

.support:hover{
    color: #bebaa7;
    font-weight: 100;
    font-size: 15px;
    transition-duration: 500ms;
}

.support_details{
    color: white;
    font-size: 12px;
    font-weight: 100;
}

.title{
    color: #1A202E;
}

.login_instuctions{
    font-size: 15px;
    color: #697485;
    margin-right: 12%;
    padding-top: 2%;
}
.hr2{
    margin-right: 8%;
}

form{
    margin-right: 25%;
    padding-top: 2%;
    padding-bottom: 5%;
}

.rest_password{
    float: right;
    text-decoration: none;

}

.register{
    text-align: center;
    margin-right: 25%;
    color: #697485;
}

.links{
    color: #0071FF;
    text-decoration: none;
}

.errors{
    color: red;
    text-align: center;
    margin-right: 25%;
    padding-bottom: 3%;
}

.submit{
    margin: 0 auto;
    display: block;
    width: 80%;
    margin-top: 9%;


}
